.window{
    height: 350px;
    width: 450px;

    background-color: #060606;
    border-radius: 0.75rem;
    overflow: hidden;
    color: wheat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    
    .nav{
  
     padding-inline: 0.75rem;
     padding-block: 0.5rem;
     display: flex;
     align-items: center;
     gap: 0.6rem;
     border-bottom: 1px solid rgba(246, 245, 245, 0.263) ;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        .dots{
            display: flex;
            gap: 0.25rem;
            .dot{
               height: 15px;
               width: 15px;
               background-color: #fff;
               border-radius: 50%;
            }
            .red{
                background-color: red;
            }
            .yellow{
                background-color: yellow;
            }
            .green{
                background-color: green;
            }
        }

        
    }
    

}

