nav {
    width: 100%;
    color: white;
    padding-inline: 0.8rem;
    padding-block: 0.2rem;
    background-color: #9e9e9e1b;
    backdrop-filter: blur(5px);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    font-size:12px;

}

.left,
.right {
    display: flex;
    gap: 0.5rem;
}